.start {  margin-left: 120px;
    margin-bottom: 10px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 85%;
      height: 85%;
      border-radius: 30px;
      background-color: white  ;
    }
    .image {
      height: 10px;
      width: 20px;
    }
  .homedesign {
      background-color: rgb(37, 175, 16);
     height: 800px;
      display: flex;
      flex-direction: column;
  }
  .tasks {display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 300px;
   
  }
  .span1 {color:  rgb(37, 175, 16);
      font-size:30px;
      text-align: center; 
  }
  
  
  .botton:hover {
    opacity: 0.8;
  }
  
    .botton {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 50px;
      align-items: center;
      border: none;
      cursor: pointer;
  }
  
  
  .span {display: flex;
      justify-content: center;
      text-align: center;
      font-size: 50px;
      align-items: center;  
  }